<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= user.username.toUpperCase() %>!</p>
    <p><%= title %> of passport auth</p>
    <% if(user.username !== 'Guest'){ %>
    <a href="/users/logout">Logout</a>
    <% } %>
  </body>
</html>
